<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Dashboard!
  </h1>
</div>

<a href="gmail.com">ggggg</a>
<a href="facebook.com">fffffff</a>
<a href=""></a>
<a href=""></a>
<br>
<br>


<input
  id="my-file-selector"
  type="file"
  (change)="uploadData($event)"
  name="uploadExcel"
/>
<!--
<button (click)="sendFiledata()">Send File Data</button>

<h2 style="margin: 0 16px; padding: 0;">Above are some features that you can use by <a target="_blank" rel="noopener" (click)="openOptions();">Click on Dashboard</a> : </h2>
-->
<div *ngIf="fileUpload" class="modal">
  <div class="modal-content">
    <img src="https://cdn.dribbble.com/users/2973561/screenshots/5757826/media/221d6bfc1960ab98a7585fcc2a4d0181.gif">
  </div>
</div>
